*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.container{
    display: grid;
    grid-template-rows: 25vh 75vh;
    grid-template-columns: 15vw 85vw;
}

.container1{
    background-color: rgb(196, 196, 247);
    grid-row:1/3 ;
    display: grid;
    grid-template-rows: 10vh 30vh 20vh;
}

.dashboard{
    margin-top: 1vh;
    margin-left: 3vw ;
    font-size: 2vw;
}

.homeToCommunities{
    display: grid;
    font-size: 1.2vw;
    margin-left: 3vw;
    grid-template-rows: repeat(6,4vh);
}

.settingsToPrivacy{
    display: grid;
    font-size: 1.2vw;
    margin-top: 1vh;
    margin-left: 3vw;
    grid-template-rows: repeat(3,4vh);
}

.container2{
    background-color: aqua;
}

.container3{
    background-color: grey;
}